/*------------------------------------------------------------------
[Gutenberg] - [Table of contents]

- Gutenberg frontend Custom Styling
/*------------------------------------------------------------------*/

/*FRONTEND COLORS*/
.single article .article-content .has-pale-pink-color{
	color: #F78DA7;
}
.single article .article-content .has-vivid-red-color{
	color: #CF2E2E;
}
.single article .article-content .has-luminous-vivid-orange-color{
	color: #F56500;
}
.single article .article-content .has-luminous-vivid-amber-color{
	color: #F3B200;
}
.single article .article-content .has-light-green-cyan-color{
	color: #7BDCB5;
}
.single article .article-content .has-vivid-green-cyan-color{
	color: #00D084;
}
.single article .article-content .has-pale-cyan-blue-color{
	color: #8DD0FB;
}
.single article .article-content .has-vivid-cyan-blue-color{
	color: #0693e3;
}
.single article .article-content .has-very-light-gray-color{
	color: #eeeeee;
}
.single article .article-content .has-cyan-bluish-gray-color{
	color: #abb8c3;
}
.single article .article-content .has-very-dark-gray-color{
	color: #313131;
}
.wp-block-image figcaption {
    font-size: 13px;
    margin-top: 10px;
    color: #555d66 !important;
    font-weight: 400 !important;
}
a#cancel-comment-reply-link {
    padding-left: 10px;
}
.wp-block-button {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}
.wp-block-button.is-style-squared .wp-block-button__link {
    border-radius: 0px;
}
a.wp-block-button__link:hover {
    color: #fff;
}
.is-style-outline .wp-block-button__link:hover{
    color: #555d66 !important;
}
.wp-block-quote.is-large {
    padding: 30px;
}
footer.wp-block-latest-comments__comment-meta {
    background: transparent;
}
.page-links a, .page-links span {
    color: #454545;
    margin-left: 5px;
}
dd {
    margin-bottom: 15px;
}
body .status-panel-no-sidebar .alignfull {
	width: auto;
	max-width: 1000%;

	margin-right: calc(50% - 50vw);
	margin-left: calc(50% - 50vw);
}
.blocks-gallery-grid .blocks-gallery-image figcaption, .blocks-gallery-grid .blocks-gallery-item figcaption, .wp-block-gallery .blocks-gallery-image figcaption, .wp-block-gallery .blocks-gallery-item figcaption {
    line-height: normal;
}
body .status-panel-no-sidebar .alignwide {
	width: auto;
	max-width: 1000%;
	margin-right: calc(25% - 25vw);
	margin-left: calc(25% - 25vw);
}
.wp-block-image .aligncenter {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
#attachment_906.wp-caption.aligncenter, .wp-block-image.size-full.wp-image-906 {
    clear: both;
}
.wp-block-cover.has-background-dim.alignleft:first-child {
    margin-top: 6px !important;
}
.alignleft {
    margin-bottom: 10px !important;
    margin-right: 20px;
    margin-top: 10px !important;
}
.alignwide img,
.alignfull img {
	display: block;
	margin: 0 auto;
}
article ul li {
	color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    opacity: 1;
    visibility: visible;
}
.single article .article-content p.wp-block-cover-text {
    font-size: 32px;
    color: #fff;
    line-height: 1.25;
}
.wp-block-gallery.is-cropped .blocks-gallery-item img,
figure.wp-block-image img {
    margin: auto;
}

blockquote footer.blockquote-footer {
    background: transparent;
    font-size: 15px;
    color: #151515 !important;
    margin-top: 15px;
}
.single.single-post .article-content p.form-submit {
    margin-bottom: 0px;
}
figure.wp-block-image,
.wp-block-cover.has-background-dim,
.wp-block-gallery,
.wp-block-button,
.single.single-post .article-content blockquote.wp-block-quote,
blockquote.wp-block-quote,
blockquote.wp-block-quote.is-large,
.wp-block-code,
.wp-block-audio,
.wp-block-video,
.wp-block-preformatted,
.wp-block-verse,
.wp-block-table,
.wp-block-separator,
.wp-block-spacer,
.wp-block-categories,
.wp-block-latest-posts,
.wp-block-embed,
.single.single-post .article-content p.wp-block-subhead,
p.wp-block-subhead   {
    margin-bottom: 60px;
	margin-top: 20px;
}
.wp-block-column p {
    margin-top: 15px;
}
.has-top-margin {
    margin-top: 60px;
}
.wp-block-embed-vimeo.wp-block-embed {
    margin: 30px 0;
}
.wp-block-pullquote p {
    font-size: 28px !important;
    line-height: normal !important;
    margin: 5px 0 35px;
    color: #686868 !important;
}
blockquote footer, blockquote small, blockquote .small {
    background: transparent !important;
}
.wp-block-pullquote:not(.is-style-solid-color) {
    background: 0 0;
}
.wp-block-pullquote {
    border-top: 4px solid #555d66;
    border-bottom: 4px solid #555d66;
    color: #40464d;
}
.wp-block-pullquote {
    padding: 3em 0;
    margin-left: 0;
    margin-bottom: 20px;
    margin-right: 0;
    text-align: center;
}
.wp-block-pullquote blockquote p {
    font-weight: 400;
    display: block;
}
.wp-block-pullquote blockquote::before {
    display: none;
}
.wp-block-pullquote blockquote {
    background: transparent;
    padding: 0 !important;
    text-align: center;
    border: 0 !important;
}
body figure.wp-block-image.alignfull, body .wp-block-cover.alignfull {
    width: auto;
    max-width: 1000%;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
}
.wp-block-pullquote cite {
    color: inherit;
    font-style: normal;
    text-transform: uppercase;
    color: #454646;
    font-weight: 400;
}
blockquote footer.blockquote-footer::before {
    display: none;
}
hr.wp-block-separator {
    max-width: 100px;
    border: none;
    border-bottom: 2px solid #8f98a1;
    margin: 1.65em auto;
}
.wp-block-button.aligncenter {
    margin-top: 40px;
    margin-bottom: 20px;
}
nav.wp-calendar-nav {
    background: transparent;
}
.widget_rss .rssSummary {
    margin: 10px 0;
}
.widget_rss li a{
    color: #606060;
    font-weight: bold;
    transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
}
.widget_rss li {
    color: rgba(21, 21, 21, .7);
    list-style: outside none none;
    margin-bottom: 30px;
}

footer table, footer th, footer td {
    border: 1px solid #9aa7af;
}
footer #wp-calendar td a, 
footer #wp-calendar caption, 
footer .widget_search .search-field, 
footer .widget_toggles .panel-body, 
footer .testimonials_slider .testimonial-content span, 
footer .widget_popular_recent_tabs .post-description, 
footer .textwidget{
    color: #fafafa;
}
.recentcomments::before,
.widget_recent_entries li::before{
    content: "\f105";
    font-family: fontawesome;
    margin-right: 8px;
}

footer .widget.widget_archive ul > li:before,
footer .widget.widget_categories ul > li:before,
footer .widget.widget_meta ul > li:before,
footer .widget.widget_pages ul > li:before,
footer .widget.widget_nav_menu ul > li:before {
    content: "\f105";
    font-family: fontawesome;
    position: absolute;
    left: 0;
    top: 0px;
    color: #9aa7af;
}
footer .widget.widget_archive ul > li,
footer .widget.widget_categories ul > li,
footer .widget.widget_meta ul > li,
footer .widget.widget_pages ul > li,
footer .widget.widget_nav_menu ul > li {
    padding-left: 12px !important;
}
.wm-active aside.widget:first-child {
    margin-top: 50px;
}
.wm-active footer aside.widget {
    margin-bottom: 60px;
}
.wp-block-group.has-background {
    padding: 20px;
}
.wp-block-media-text.alignfull.has-media-on-the-right.has-background.is-stacked-on-mobile {
    margin-bottom: 30px;
}
.wp-block-search .wp-block-search__input {
    border: 1px solid #e0e0e0;
    font-style: normal;
    font-weight: 300;
    padding: 10px 15px;
    outline: 0;
    border-radius: 4px;
}
.wp-block-search {
    margin-bottom: 30px;
}
.wp-block-search__button {
    border-radius: 4px;
    padding: 11px 0;
    margin-left: 2%;
    background-color: #389d29;
    text-align: center;
    padding: 12px 20px;
    height: 45px;
    line-height: 1;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    outline: 0;
    transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
}