/*------------------------------------------------------------------
[Gutenberg] - [Table of contents]

- Gutenberg backend Custom Styling
/*------------------------------------------------------------------*/

.wp-block {
    max-width: 1170px;
}
/*Custom font styling*/
/*general*/
.editor-block-list__layout .editor-block-list__block {
    color: #333333;
    font-family: "Montserrat",serif;
}
.editor-post-title__block .editor-post-title__input {
    font-family: 'Montserrat';
}
.editor-block-list__layout .wp-block-heading h1,
.editor-block-list__layout .wp-block-heading h2,
.editor-block-list__layout .wp-block-heading h3,
.editor-block-list__layout .wp-block-heading h4,
.editor-block-list__layout .wp-block-heading h5,
.editor-block-list__layout .wp-block-heading h6 {
    font-family: 'Montserrat';
}
.editor-block-list__layout .wp-block-heading h1,.editor-block-list__layout .wp-block-heading h1 span{
    line-height:36px;
    font-weight: 500;
    font-size:36px
}
.editor-block-list__layout .wp-block-heading h2{
    line-height:30px;
    font-weight: 500;
    font-size:30px
}
.editor-block-list__layout .wp-block-heading h3{
    line-height:24px;
    font-weight: 500;
    font-size:24px
}
.editor-block-list__layout .wp-block-heading h4{
    line-height:18px;
    font-weight: 500;
    font-size:18px
}
.editor-block-list__layout .wp-block-heading h5{
    line-height:14px;
    font-weight: 500;
    font-size:14px
}
.editor-block-list__layout .wp-block-heading h6{
    line-height:12px;
    font-weight: 500;
    font-size:12px
}

.edit-post-visual-editor p.wp-block-subhead {
    color: #828282;
}
.editor-styles-wrapper .editor-block-list__layout .mce-content-body, .editor-styles-wrapper .editor-block-list__layout p {
    font-size: 15px;
    color: #454646;
    line-height: 26px;
    font-weight: normal;
}
.editor-styles-wrapper .editor-block-list__layout .wp-block-cover p {
	color: #fff;
	font-size: 2em;
	line-height: 1.25;
}
.editor-block-list__layout  pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	word-break: break-all;
	word-wrap: break-word;
	color: #333;
	background-color: #f9f9f9;
	border: 1px solid #e6e6e6;
}
.editor-block-list__layout .editor-block-list__block-edit ul li a {
    color: #2f73f6;
    font-size: 17px;
    text-decoration: none;
}
.editor-block-list__layout  input.components-placeholder__input[type="url"]{
	color: #333;
	font-size: 14px;
}

/*button*/
.editor-block-list__layout .wp-block-button__link:hover {
    background: #e5c000;
}
.editor-block-list__layout .wp-block-button__link {
    background: #ffd600;
    border-radius: 0px;
    color: #ffffff;
    font-size: 17px !important;
    padding: 12px 55px;
    font-weight: 400;
}
.editor-block-list__layout button.components-button.is-button.is-default.is-large {
    font-size: 14px;
    margin-top: 2px;
}

/* table */
.editor-block-list__layout .wp-block-table{
	text-align: center;
	background-color: transparent;
}
.editor-block-list__layout .wp-block-table td, 
.editor-block-list__layout .wp-block-table th {
    padding: 10px;
    border: 1px solid #e6e6e6;
}
.editor-block-list__layout .editor-rich-text__tinymce li {
	color: #454646;
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    opacity: 1;
    visibility: visible;
}
.editor-styles-wrapper .editor-block-list__layout figcaption.editor-rich-text__tinymce{
    color: #555d66 !important;
    font-size: 16px !important;
}
/*blockquote*/
.wp-block-quote__citation{
    color: #9aa7af !important;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
}
.editor-block-list__layout .wp-block-quote p,
.editor-block-list__layout .wp-block-quote {
    color: #454646 !important;
    font-size: 15px;
    line-height: 25px;
    font-weight: normal;
}
.editor-block-list__layout .wp-block-quote {
    margin: 0;
    background: #F6F6F6;
    border-left: 5px solid #ffd600 !important;
    padding: 25px !important;
}

.editor-block-list__layout  .wp-block-quote.is-large p, 
.editor-block-list__layout  .wp-block-quote.is-style-large p,
.editor-block-list__layout .editor-block-list__block-edit  .blockquote {
    font-size: 24px;
    font-style: italic;
    line-height: 1.6;
}
.editor-block-list__layout .editor-block-list__block-edit .wp-block-code .editor-plain-text {
	color: #3c424f;
}
.editor-block-list__layout .wp-block-pullquote{
    padding: 0;
    border-top: 0px none;
    border-bottom: 0px none;
}
.editor-block-list__layout .wp-block-pullquote blockquote .wp-block-pullquote__citation{
    display: block;
    margin-top: 10px;
    font-style: italic;
    font-weight: 300;
    opacity: 0.6;
    text-align: left;
    text-transform: none;
}
.editor-block-list__layout .wp-block-pullquote blockquote, .editor-block-list__layout .wp-block-pullquote blockquote p {
    font-size: 16px;
    text-align: left;
}
.editor-block-list__layout .wp-block-pullquote blockquote p:last-child{
    margin-bottom: 0 !important;
}
.editor-block-list__layout .wp-block-pullquote blockquote{
    background: #F6F6F6 !important;
    border-left: 5px solid #ffd600 !important;
    padding: 30px;
    margin: 0;
    position: relative;
}
/*Gutenberg fixes*/
.editor-block-list__layout h1,
.editor-block-list__layout h1 span {
    line-height: 500 !important;
    font-size: 36px !important;
    font-weight: normal !important;
    color: #333 !important;
}
.editor-block-list__layout h2 {
    font-weight: 500 !important;
    font-size: 30px !important;
    line-height: normal !important;
    color: #333 !important;
}
.editor-block-list__layout h3 {
    font-weight: 500 !important;
    font-size: 24px !important;
    line-height: normal !important;
    color: #333 !important;
}
.editor-block-list__layout h4 {
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: normal !important;
    color: #333 !important;
} 
.editor-block-list__layout h5 {
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: normal !important;
    color: #333 !important;
} 
.editor-block-list__layout h6 {
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: normal !important;
    color: #333 !important;
} 
.editor-styles-wrapper .editor-block-list__layout figcaption.mce-content-body,
.editor-styles-wrapper .editor-block-list__layout .wp-block-button__link.mce-content-body{
    color: #fff;
}
.editor-styles-wrapper .editor-block-list__layout figcaption{
    font-size: 13px !important;
}
.editor-styles-wrapper .wp-block-pullquote__citation {
    font-size: 15px !important;
    color: #434959 !important;
    line-height: 23px !important;
}
.editor-styles-wrapper .block-library-pullquote__content .editor-block-list__layout p{
    font-size: 28px !important;
}
/*LISTS FIX*/
.editor-block-list__layout .editor-block-list__block-edit ul {
    padding-left: 20px !important;
    margin-left: 20px !important;
}