/*------------------------------------------------------------------
[BlogLoops Stylesheet]


[Table of contents]

1. Blog Loops General Styling
2. Blogloop-v1
3. Blogloop-v2
4. Blogloop-v3
5. Blogloop-v4
6. Blogloop-v5

-------------------------------------------------------------------*/


/*---------------------------------------------*/
/*--- 1. Blog Loops General Styling ---*/
/*---------------------------------------------*/

.list-view .post-thumbnail {
    margin: 0;
    padding: 0;
}
.list-view .post-details {
    align-self: center;
    position: relative;
}
.list-view .post-category-comment-date {
    margin: 0 0 8px;
}
.list-view .post-details .post-name a {
	line-height: normal;
	transition: all ease-in-out 0.3s;
}
.list-view .no-featured-image {
    padding: 30px !important;
}
.list-view .post-details .post-category-comment-date .post-date a {
    opacity: 1;
    display: inline-table;
}
.list-view .post-date {
    display: inline-table;
    margin-right: 10px;
}
article.single-post img {
    transition: all 600ms ease-in-out 0s;
    -webkit-transition: all 600ms ease-in-out 0s; /* For Safari 3.1 to 6.0 */
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}
article.single-post img:hover {
    opacity: .8;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
}
.list-view .blog_date {
    display: inline-table;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
}
.post-thumbnail a {
    display: block;
    overflow: hidden;
}
.list-view .wp-caption.alignnone {
    margin: 10px 0;
    max-width: 100%;
}
.list-view .post-details .post-category-comment-date span > i {
    margin-right: 5px;
}
.list-view .post-details .post-category-comment-date a {
  font-weight: 300;
}
.list-view .post-details .post-category-comment-date i,
.list-view .post-details .post-category-comment-date a,
.post-category-comment-date span a,
.post-category-comment-date span{
    color: #606060;
}
.list-view .post-details .mt_cars--features-description .house_location a {
    font-size: 16px;
    text-transform: none;
    color: #c3c3c3;
    line-height: 20px;
    font-weight: 400;
    font-style: italic;
}

.list-view .post-details .post-category-comment-date .post-tags,
.list-view .post-details .post-category-comment-date .post-author {
    margin-right: 10px;
}
.list-view .post-details .post-category-comment-date .post-author span {
    opacity: 0.6;
}
.sticky_post_blog_details .post-author > a {
    display: inline;
}
.list-view .post-details .post-excerpt td, 
.list-view .post-details .post-excerpt th,
.list-view .post-details .post-excerpt dd,
.list-view .post-details .post-excerpt dt,
.list-view .post-details .post-excerpt address,
.list-view .post-details .post-excerpt li {
    color: #252525;
    font-size: 17px;
    line-height: 140%;
}
.list-view .post-details .post-excerpt .more-link {
    border-radius: 3px;
    border: 2px solid;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    margin: 10px 0 0;
    display: inline-block;
    padding: 5px 15px;
    transition: all ease-in-out 0.3s;
    color: #252525;
    background: transparent !important;
}
.post-category-comment-date i {
    margin-right: 3px;
}
.list-view .post-thumbnail:hover {
  border-right: medium none !important;
}
.list-view .blog_custom {
    background: #fcfcfc;
    display: flex;
    overflow: hidden;
}
article.single-post {
    margin-bottom: 25px;
    padding-bottom: 40px;
    position: relative;
}
.single-post {
    border-bottom: medium none !important;
}

/*---------------------------------------------*/
/*--- 2. Blogloop-v1 ---*/
/*---------------------------------------------*/
.list-view.blogloop-v1 .no-featured-image{
    border: 1px solid #ededed;
}
article.blogloop-v1.single-post::after {
    display: none;
}
article.blogloop-v1.single-post {
    margin-bottom: 0;
}
.blogloop-v1 .post-details-padding {
    padding: 0 15px;
}
.blogloop-v1.list-view .post-details .post-excerpt p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.blogloop-v1 .post-name a{
    color: #282828;
}
.blogloop-v1 .post-name {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0 15px;
}
.blogloop-v1 .post-details .post-sticky-label i {
    font-size: 28px;
}
.blogloop-v1.list-view .post-category-comment-date {
    margin: 0 0 12px;
}


/*---------------------------------------------*/
/*--- 3. Blogloop-v2 ---*/
/*---------------------------------------------*/

/* blogloop-v2 */
/* blogloop-no-flex */

.blogloop-v2.blogloop-no-flex.list-view .blog_custom {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    display: block;
}
.blogloop-v2 .post-details {
    float: left;
    width: 100%;
}
.blogloop-v2 .post-name a{
    color: #282828;
}
.blogloop-v2 .post-name {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0 15px;
}
.blogloop-v2 .post-details .post-sticky-label i {
    font-size: 28px;
}
.blogloop-v2.list-view .post-category-comment-date {
    margin: 0 0 12px;
}



/*---------------------------------------------*/
/*--- 4. Blogloop-v3 ---*/
/*---------------------------------------------*/

/* blogloop-v3 */
/* blogloop-no-flex */

.blogloop-v3.blogloop-no-flex.list-view .blog_custom {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    display: block;
}
.blogloop-v3 .post-details {
    float: left;
    width: 100%;
}
.blogloop-v3 .post-name a{
    color: #282828;
}
.blogloop-v3 .post-name {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0 15px;
}
.blogloop-v3 .post-details .post-sticky-label i {
    font-size: 28px;
}
.blogloop-v3.list-view .post-category-comment-date {
    margin: 0 0 12px;
}




/*---------------------------------------------*/
/*--- 5. Blogloop-v4 ---*/
/*---------------------------------------------*/

/* blogloop-v4 */
/* blogloop-no-flex */

.blogloop-v4.blogloop-no-flex.list-view .blog_custom {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    display: block;
}
.blogloop-v4 .post-details {
    float: left;
    width: 100%;
}
.blogloop-v4 .post-name a{
    color: #282828;
}
.blogloop-v4 .post-name {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0 15px;
}
.blogloop-v4 .post-details .post-sticky-label i {
    font-size: 28px;
}
.blogloop-v4.list-view .post-category-comment-date {
    margin: 12px 0 0;
}
.blogloop-v4.list-view .post-date {
    margin-top: 25px;
}
.blogloop-v4.list-view .post-date a {
    color: #ffffff;
    display: block;
    font-weight: bold;
    padding: 15px 14px;
    text-align: center;
    text-transform: uppercase;
}
.blogloop-v4.list-view .post-details .post-category-comment-date i, 
.blogloop-v4.list-view .post-details .post-category-comment-date a, 
.blogloop-v4.post-category-comment-date span a, 
.blogloop-v4.post-category-comment-date span {
    color: #252525;
}



/*---------------------------------------------*/
/*--- 6. Blogloop-v5 ---*/
/*---------------------------------------------*/

/* blogloop-v5 */
/* blogloop-no-flex */
article.blogloop-v5.single-post::after {
    display: none;
}
article.blogloop-v5.single-post {
    margin-bottom: 0;
}
.blogloop-v5.blogloop-no-flex.list-view .blog_custom {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    border: 0 none;
}
article.blogloop-v5.single-post.no-featured-image .post-details {
    border: 1px solid #ededed;
}
.blogloop-v5 .post-details {
    border-top: 0px none;
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    float: left;
    padding: 0 30px 20px;
    width: 100%;
}
.blogloop-v5 .post-name a{
    color: #282828;
}
.blogloop-v5 .post-name {
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0 15px;
}
.blogloop-v5 .post-details .post-sticky-label i {
    font-size: 28px;
}
.blogloop-v5.list-view .post-category-comment-date {
    margin: 0 0 12px;
}
.blogloop-v5 .absolute-date-badge {
    bottom: 0;
    text-align: center;
    width: 100%;
}
.blogloop-v5 .post-thumbnail a {
    overflow: initial;
    z-index: 2;
}
.blogloop-v5 .absolute-date-badge {
    bottom: -12px;
    text-align: center;
    width: 100%;
}
.blogloop-v5 .absolute-date-badge span {
    border-radius: 15px;
    color: #ffffff;
    margin: 0;
    padding: 3px 15px;
}