/* Header */
div.kr-marketcoinlist > nav,
div.kr-heatmap > nav {
  background: #171e32;
  height: 38px;
  min-height: 38px;
  width: 100%;
  display: flex; align-items: stretch; justify-content: space-between;
}

div.kr-marketcoinlist > nav > form {
  width: 30%;
  display: flex; align-items: stretch;
}

div.kr-marketcoinlist > nav > form > input[type="text"] {
  -moz-appearance    : none;
  -o-appearance      : none;
  -webkit-appearance : none;
  background: transparent;
  border:none;
  color:#f4f6f9;
  background: rgba(0,0,0,0.08);
  width: 100%;
  padding: 0px 15px;
  outline: none;
}

div.kr-marketcoinlist > nav > ul,
div.kr-heatmap > nav > ul {
  display: flex; align-items: center;
}

div.kr-marketcoinlist > nav > ul > li,
div.kr-heatmap > nav > ul > li {
  padding: 10px 18px 8px 18px;
  border-bottom:2px solid #576377;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color:#576377;
  cursor: pointer;
}

div.kr-marketcoinlist > nav > ul > li:hover,
div.kr-heatmap > nav > ul > li:hover {
  background: rgba(0,0,0,0.15);
  border-bottom-color:rgba(0,0,0,0.15);
}

div.kr-marketcoinlist > nav > ul > li.kr-nav-selected,
div.kr-heatmap > nav > ul > li.kr-nav-selected {
  border-bottom-color: #ffffff; color:#ffffff;
}

/* HEATMAP */
div.kr-heatmap {
  display: flex; flex-direction: column;
  flex:1;
}

div.kr-marketa {
  display: flex; flex-direction: column;
  flex:1;
  overflow-y: auto;
  padding: 15px 0px 15px 0px;
}

div.kr-marketa > div.kr-marketa-currency {
  display: flex; justify-content: center;
  color:#fff;
  margin-bottom: 5px;
  min-height: 39px;
}

div.kr-marketa > div.kr-marketa-currency > div {
  display: flex; align-items: center;
  justify-content: center;
  width: 52px; height:39px;
  min-width: 52px; min-height: 39px;
  background: #455a65; font-weight: 700;
  margin: 0px 2px;

}

div.kr-marketa > div.kr-marketa-currency > ul {
  display: flex; align-items: center;
  flex:1; min-height: 39px;
}

div.kr-marketa > div.kr-marketa-currency > ul:first-child {
  justify-content: flex-end;
}

div.kr-marketa > div.kr-marketa-currency > ul > li {
  width: 52px; height:39px;
  min-width: 52px; min-height: 39px;
  background: #494949;
  display: flex; align-items: center;
  justify-content: center;
  flex-direction: column; font-size: 12px;
}

div.kr-marketa > div.kr-marketa-currency > ul > li.kr-marketa-currency-case-pos_1 { background: #007731; }
div.kr-marketa > div.kr-marketa-currency > ul > li.kr-marketa-currency-case-pos_2 { background: #00913b; }
div.kr-marketa > div.kr-marketa-currency > ul > li.kr-marketa-currency-case-pos_3 { background: #00a644; }
div.kr-marketa > div.kr-marketa-currency > ul > li.kr-marketa-currency-case-pos_4 { background: #00bb4c; }
div.kr-marketa > div.kr-marketa-currency > ul > li.kr-marketa-currency-case-pos_5 { background: #00cb53; }
div.kr-marketa > div.kr-marketa-currency > ul > li.kr-marketa-currency-case-pos_6 { background: #00d958; }
div.kr-marketa > div.kr-marketa-currency > ul > li.kr-marketa-currency-case-pos_7 { background: #00f564; }

div.kr-marketa > div.kr-marketa-currency > ul > li.kr-marketa-currency-case-neg_1 { background: #7e2824; }
div.kr-marketa > div.kr-marketa-currency > ul > li.kr-marketa-currency-case-neg_2 { background: #b03530; }
div.kr-marketa > div.kr-marketa-currency > ul > li.kr-marketa-currency-case-neg_3 { background: #c9221a; }
div.kr-marketa > div.kr-marketa-currency > ul > li.kr-marketa-currency-case-neg_4 { background: #d5362e; }
div.kr-marketa > div.kr-marketa-currency > ul > li.kr-marketa-currency-case-neg_5 { background: #db2921; }
div.kr-marketa > div.kr-marketa-currency > ul > li.kr-marketa-currency-case-neg_6 { background: #ea2c24; }
div.kr-marketa > div.kr-marketa-currency > ul > li.kr-marketa-currency-case-neg_7 { background: #f82d24; }

div.kr-marketa > div.kr-marketa-currency > ul > li > label {
  font-weight: 700;
}

div.kr-marketa > div.kr-marketa-currency > ul:first-child > li {
  margin-left: 2px;
}

div.kr-marketa > div.kr-marketa-currency > ul:last-child > li {
  margin-right: 2px;
}

/* Coin list */
div.kr-marketcoinlist {
  display: flex; flex-direction: column;
  flex:1;
  overflow-y: auto;
}

div.kr-marketlist {
  display: flex; flex-direction: column;
}

div.kr-marketlist > div {
  width: 100%;
  height: 38px; min-height: 38px;
  display: flex; align-items: stretch;
  border-top: 1px solid #171c29;
  color:#fff;
  cursor: pointer;
}

div.kr-marketlist > div:hover {
  background: #2e3748 !important;
}

div.kr-marketlist > div:nth-child(2n) {
  background: rgba(255,255,255,0.01);
}

div.kr-marketlist > div > div {
  flex:1;
  display: flex; align-items: center;
  font-size: 13px;
}

div.kr-marketlist > div > div > span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.kr-marketlist > div > div.kr-marketlist-n > div.kr-marketlist-n-icn {
  width: 30px; height: 30px;
  margin-left: 8px;
}

div.kr-marketlist > div > div.kr-marketlist-n > div.kr-marketlist-n-icn > svg {
  fill:#fff;
  width: 32px; height: 32px;
  transform: scale(0.85);
}

div.kr-marketlist > div > div.kr-marketlist-n > div.kr-marketlist-n-nn {
  margin-left: 10px;
  display: flex; flex-direction: column;
}

div.kr-marketlist > div > div.kr-marketlist-n > div.kr-marketlist-n-nn > label {
  font-size: 14px;
  margin-bottom: 2px;
}

div.kr-marketlist > div > div.kr-marketlist-n > div.kr-marketlist-n-nn > span {
  font-size: 12px;
  color:#ababab;
}


div.kr-marketlist > div > div.kr-marketlist-cellnumber {
  display: flex; justify-content: flex-end;
  padding: 0px 15px;
}

div.kr-marketlist > div > div.kr-marketlist-chart > canvas {
  max-height: 45px;
  max-width: 100px;
}

div.kr-marketlist > div > div.kr-marketlist-cellnumber > span.kr-marketlist-cellnumber-positiv {
  color:#29c359;
}

div.kr-marketlist > div > div.kr-marketlist-cellnumber > span.kr-marketlist-cellnumber-negativ {
  color:#e30f0f;
}

div.kr-marketlist > div > div.kr-marketlist-chart {
  padding: 0px 10px;
  justify-content: center;
}

div.kr-marketlist > div > div.kr-marketlist-cellffhl {
  justify-content: flex-end;
  padding-right: 15px;
}

div.kr-marketlist > div > div.kr-marketlist-cellffhl > div.kr-marketlist-ffhl {
  display: flex;
  width: 150px;
  flex-direction: column;
}

div.kr-marketlist > div > div.kr-marketlist-cellffhl > div.kr-marketlist-ffhl > div.kr-marketlist-ffhl-progr {
  height: 3px;
  display: flex; align-items: stretch;
  position: relative;
  background: #7f7f7f;
  margin-bottom: 4px;
}

div.kr-marketlist > div > div.kr-marketlist-cellffhl > div.kr-marketlist-ffhl > div.kr-marketlist-ffhl-progr > div:first-child {
  background:#fff;
  height: 3px;
  width: 30%;
}

div.kr-marketlist > div > div.kr-marketlist-cellffhl > div.kr-marketlist-ffhl > div.kr-marketlist-ffhl-mm {
  display: flex; align-items: center; justify-content: space-between;
  font-size: 10px;
}

/* Market list header */

div.kr-marketlist > div.kr-marketlist-header {
  height: 35px; min-height: 35px;
  background: #151a25;
}
div.kr-marketlist > div.kr-marketlist-header > div.kr-marketlist-price > span {
  background: transparent; padding: 0;
  border-radius: 0px;
}

@media screen and (max-width: 1200px) {
    div.kr-marketlist .kr-marketlist-cellnumber-f1 {
      display: none !important;
    }
}

@media screen and (max-width: 1000px) {
    div.kr-marketlist .kr-marketlist-cellnumber-f2 {
      display: none !important;
    }
}

@media screen and (max-width: 800px) {
    div.kr-marketlist .kr-marketlist-cellnumber-f3 {
      display: none !important;
    }
}
