section.kr-notification-center {
  position: absolute;
  top:60px; right:0;
  width: 360px;
  height: 459px;
  background: #fff;
  z-index: 9999999999999;
  cursor: default;
  border-radius: 2px;
  box-shadow: 0px 5px 40px 0px #0006;
  display: none;
  max-height: 80vh;
}

section.kr-notification-center::before {
  width: 0;
  content: "";
  position: absolute;
  top:-7px;
  right:23px;
  height: 0;
  border-style: solid;
  border-width: 0 7px 9px 7px;
  border-color: transparent transparent #ffffff transparent;
}

section.kr-notification-center > div.kr-notification-center-empty {
  display: flex; flex-direction: column;
}

section.kr-notification-center > div.kr-notification-center-empty > img {
  margin-bottom: 20px;
  opacity: 0.5;
}

section.kr-notification-center > div.kr-notification-center-empty > span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

section.kr-notification-center > ul {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

}

section.kr-notification-center > ul > li {
  display: flex; align-items: center;
  border-bottom: 1px solid #eef1f8;
  padding: 16px 18px;
  box-sizing: border-box;
  width: 100%; cursor: pointer;
  border-left: 2px solid #fff;
}

section.kr-notification-center > ul > li:first-child {
  border-radius: 2px 2px 0px 0px;
}

section.kr-notification-center > ul > li:last-child {
  border-radius: 0px 0px 2px 2px;
}

section.kr-notification-center > ul > li:hover {
  background: #fafbff;
}

section.kr-notification-center > ul > li.kr-notification-ns {
  background: #fafbff;
  border-left-color:#fe8114;
}

section.kr-notification-center > ul > li > div.kr-notification-center-icon {
  width: 40px; height: 40px;
  min-width: 40px; min-height: 40px;
  border-radius: 40px; margin-right: 10px;
  display: flex; justify-content: center; align-items: center;
}

section.kr-notification-center > ul > li > div.kr-notification-center-icon > svg {
  transform: scale(1); fill:#000;
  height: 32px;
}

section.kr-notification-center > ul > li > div.kr-notification-center-inf {
  display: flex; flex-direction: column;
  align-items:stretch; flex:1;
}

section.kr-notification-center > ul > li > div.kr-notification-center-inf > div {
  display: flex; justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

section.kr-notification-center > ul > li > div.kr-notification-center-inf > div > label {
  font-weight: 700; font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

section.kr-notification-center > ul > li > div.kr-notification-center-inf > div > span {
  color:#8292a1; font-size: 12px; text-transform: uppercase;
  text-align: right;
}

section.kr-notification-center > ul > li > div.kr-notification-center-inf > span {
  color:#8292a1; font-size: 14px;
}

/* Audio */
#kr-notification-center-audio {
  display: none;
}

/* Loading */
section.kr-notification-center > div {
  position: absolute;
  top:0; left:0; right:0; bottom: 0;
  display: flex; justify-content: center; align-items: center;
}
